{% if not user.is_authenticated %}
    <a href="{% url 'login' %}">Login</a>
{#    <a href="{% url 'accounts:signup' %}" class="button">Signup</a>#}
{% else %}
    {% if latest_block_list %}
        <ul>
            {% for block in latest_block_list %}
                <li><a href="{% url 'our_memo:block' block.id %}">{{ block.block_title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No block are available.</p>
    {% endif %}

    <a href="{% url 'our_memo:create_block' %}">create a block</a>
    <a href="{% url 'our_memo:create_memo' %}">create a memo</a>
    <a href="{% url 'logout' %}" class="button">Logout</a>
{% endif %}
